.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  // background: url(../../assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

::ng-deep .deviceForm{
    width: 600px;
    .mat-radio-label-content{
      padding-right: 50px;
    }
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 100%;
}


.videoStyle {

}

.example-full-width{
  width: 50%;
}


.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 12px;
  // justify-content: space-evenly;
  // position: absolute;
  // bottom: 5vh;
  // left: 50%;
  // margin: auto;
  // transform: translate(-50%, -50%);

  >button {
    margin-right: 10px;
  }

  >.lastButton {
    margin-right: 0;
  }
}
